<html ng-app="mermoryGame">

<head>
    <title>4x4 Grid</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="gameCtrl">
    <div>Pairs left to match: {{game.unmatchedPairs}}</div>
    <table>
        <tr ng-repeat="row in game.grid">
            <td ng-repeat="tile in row" class="container">
                <div class="card" ng-class="{flipped: tile.flipped}" ng-click="game.flipTile(tile)">
                    <img class="back" ng-src="img/{{tile.title}}.png">
                </div>
            </td>
        </tr>
    </table>
    <h3>{{game.message}}</h3>
    <h4 ng-show="game.newValue">Your point : {{game.newValue}}</h4>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/game.js"></script>
</body>

</html>
